<div id="content">
   <div class="error">
        <div class="error-header">
            <h1 class="error-title">{{ errorTitle }}</h1>
        </div>
        <div class="error-body">
            {{{ errorBody }}}
        </div>
        </a>
    </div>
</div>