<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/media/style.css" />
</head>
<body>

<div id="header">
    <h1 class="header-title">{{ headerTitle }}</h1>
</div>

<div id="body">
    {{{ body }}}
</div>

</body>
</html>