<div id="content">
   <div class="post-write">
        <h2>Write</h2>
        <form method="post">
            <p><label for="post-title">Title</label></p>
            <p><input type="text" placeholder="Title" name="post-title" id="post-title" /></p>

            <p><label for="post-content">Content</label></p>
            <p class="post-content-wrap"><textarea cols="80" rows="20" placeholder="Content" name="post-content" id="post-content"></textarea></p>

            <p><input type="submit" value="Save" /></p>
        </form>
    </div>
</div>