/****************************************************
 * common
 ****************************************************/

* {
    padding: 0;
    margin: 0;
}
::selection {
    background: rgb(225, 255, 125);
}
body {
    font-size: 12pt;
    font-weight: 300;
    background: rgb(240, 240, 240);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 20px 0 5px 0;
}
h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 7px !important;
}

ol, ul {
    margin: 15px 0;
    line-height: 1.4em;
}
ul ul, ol ol {
    margin: 0;
}
li {
    margin: 0 0 0 20px;
}

p {
    line-height: 1.4em;
}
p + p {
    margin: 20px 0;
}
* + p {
    margin-top: 20px;
}

img {
    padding: 7px;
    border: 1px solid rgb(200, 200, 200);
}

table {
    border-collapse: collapse;
}
th {
    background: rgb(230, 230, 230);
}
td, th {
    border: 1px solid rgb(200, 200, 200);
    padding: 5px;
}

blockquote {
    padding: 10px;
    border-left: 7px solid rgb(200, 200, 200);
    background: rgb(240, 240, 240);
}
blockquote p:last-child {
    margin-bottom: 0;
}

code {
    padding: 2px;
    background: rgb(225, 225, 225);
    color: rgb(200, 50, 50);
}
pre {
    padding: 10px;
    color: white;
    background: black;
    overflow: auto;
}
pre code {
    padding: 0;
    color: inherit;
    background: transparent;
}


/****************************************************
 * header
 ****************************************************/

#header {
    padding: 7px;
    color: white;
    background: rgb(40, 40, 40);
}
#header .header-title {
    font-size: 16pt;
}
#header .header-title, #body {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #header .header-title, #body {
        width: auto;
        margin: 0 auto;
    }
}


/****************************************************
 * content
 ****************************************************/

#content {
    margin: 20px 0;
}


/****************************************************
 * post
 ****************************************************/

.post {
    margin-bottom: 75px;
}
.post .post-header {
    position: relative;
    padding: 25px 25px 40px 25px;
}
@media (max-width: 768px) {
    .post {
        margin-bottom: 50px;
    }
    .post .post-header {
        padding: 5px 25px 40px 25px;
    }
}

.post .post-header .post-title {
    font-size: 24pt;
    text-align: center;
}
@media (max-width: 768px) {
    .post .post-header .post-title {
        font-size: 20pt;
    }
}
.post .post-header .post-info {
    position: absolute;
    right: 25px;
    font-size: 9pt;
    color: rgb(100, 100, 100);
}


/****************************************************
 * post body
 ****************************************************/

.post .post-body {
    padding: 25px;
    background: white;
}

@media (max-width: 768px) {
    .post .post-body {
        border: none;
    }
}

.post .post-body *:first-child {
    margin-top: 0;
}

.post .post-body h1 {
    font-size: 20pt;
}
.post .post-body h2 {
    font-size: 18pt;
}
.post .post-body h3 {
    font-size: 16pt;
}
.post .post-body h4,
.post .post-body h5,
.post .post-body h6 {
    font-size: 14pt;
}
@media (max-width: 768px) {
    .post .post-body h1 {
        font-size: 18pt;
    }
    .post .post-body h2 {
        font-size: 16pt;
    }
    .post .post-body h3 {
        font-size: 14pt;
    }
    .post .post-body h4,
    .post .post-body h5,
    .post .post-body h6 {
        font-size: 14pt;
    }
}

.post .post-body img {
    max-width: 90%;
}

.post .post-body hr {
    width: 90%;
    margin: 35px auto;
    border: none;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.post .post-hr {
    display: none;
}


/****************************************************
 * list
 ****************************************************/

.post-list {
    margin: 35px 0;
}
@media (max-width: 768px) {
    .post-list {
        margin: 35px 10px;
    }
}
.post-list a.post-list-wrap-link {
    text-decoration: inherit;
    color: inherit;
}
.post-list .post-header {
    position: relative;
    background: rgb(240, 240, 240);
}
.post-list .post-header .post-title {
    font-size: 18pt;
    margin-bottom: 0;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    .post-list .post-header .post-title {
        font-size: 16pt;
    }
}
.post-list .post-header .post-info {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 9pt;
    color: rgb(100, 100, 100);
}

.post-list .post-body {
    background: white;
    padding: 15px;
}
.post-list .post-hr {
    display: none;
}


/****************************************************
 * error
 ****************************************************/
.error .error-title {
    font-size: 28pt;
    font-weight: 200;
    text-align: center;
}
.error .error-body {
    padding: 15px;
    background: white;
}